.fullname-text-container{
    padding-top: 20px;
    font-weight: 800;
}

.emailinput-text-container{
    padding-bottom: 10px;
    font-weight: 800;
}

.address-text-container{
    font-weight: 800;
}

.phone-text-container{
    font-weight: 800;
}