#c-inputs,
#d-inputs,
#f-inputs,
#g-inputs,
#h-inputs,
#i-inputs {
  display: none;
  margin-top: 45px;
}

#a-remove-btn,
#b-remove-btn,
#e-remove-btn,
#a-add-btn,
#d-add-btn,
#i-add-btn {
  display: none;
}

#resume-section{
  
}

