@import "inputs.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(32, 0, 0, 0.87);
  background-color: #1f7bde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  @apply font-medium text-black cursor-pointer tracking-widest rounded-sm  shadow-md shadow-black py-1 px-2 
  relative select-none;
}
button:active {
  @apply text-red-500;
}

body,
#root {
  @apply h-screen m-0;
}
