body{
    height: 98vh;
}

#root{
    display: flex;
    height: 100%;
}

.left-side-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personalDetails,
.educationDetails,
.experienceDetails {
    background-color: blueviolet;
   
}

.educationDetails,
.experienceDetails {
    display: none;

} 
.cvDisplayDiv{
    overflow: scroll;
}